a {
    -webkit-tap-highlight-color: #FFEC62;
}

.fancybox-overlay {
    -webkit-tap-highlight-color: none;
}

body {
    background: #4C5059;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.header {
    color: white;
    display: block;
    background: #FFAB33;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 24px;

    position: relative;
}

.header a {
    color: white;
}

.add-on-header {
    position: absolute;
    right: 10px;
    top: 8px;
}

.header-2 {
    color: #FFC000;
    display: block;
    background: #171A21;
}

.main-nav {
    height: 44px;
    background: black;
}

.mainnav-btn {
    display: block;
    float: left;
    line-height: 44px;
    color: white;
    width: 20%;
    text-align: center;
    font-size: 18px;
}
.mainnav-btn.active {
    color: #FFEC62;
}

.main-body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}


/* tool table-dz */
.table-dz {

}

.table-dz th {
    text-align: center;
    background: #FFEC62;
    font-weight: normal;
}

.dz-thumb {
    width: 32px;
    height: 32px;
}

.video-thumb {
    width: 32px;
    height: 32px;
    position: relative;
}

.video-icon {
    position: absolute;
    left: 10px;
}

/* icon style */
a.glyphicon {
    color: black;
}
/*
a.glyphicon:hover {
    background: #FFEC62;
}
*/

i.glyphicon {
    color: inherit;
}

/* form style */
textarea {
    height: 300px;
    resize:none;
}

.field-img img, field-video video {
    width: 100%;
    height: auto;
}
.field-img .menu {

}

/* notification style */
.notification-button {
    position: absolute;
    left: 10px;
    top: 8px;
}

body {
    overflow: hidden;
}

.notification-close {
    position: absolute;
    left: 10px;
    top: 8px;
}

.notification-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;

    background: #4C5059;

    -webkit-transition: all 300ms;
    transition: all 500ms;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* setting */
.setting-close {
    position: absolute;
    right: 10px;
    top: 8px;
}


.setting-button {
    position: absolute;
    right: 10px;
    top: 8px;
}
.logout-button {
    position: absolute;
    right: 10px;
    top: 8px;
}

.setting-container {
    width: 100%;
    height: 100%;

    background: #4C5059;

    -webkit-transition: all 300ms;
    transition: all 500ms;
}